- tulis = (x) => `<?= htmlentities(${x} ?? '') ?>`

mixin if(x)
  | <?php if(!{x}): ?>
mixin elif(x)
  | <?php else if(!{x}): ?>
mixin else
  | <?php else: ?>
mixin endif 
  | <?php endif ?>

mixin foreach(x)
  | <?php foreach(!{x}): ?>
mixin endforeach
  | <?php endforeach ?>

block base